---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Fietu web site" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{"Fietu - " + title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%
        );
    }
    html {
        font-family: system-ui, sans-serif;
        background:
            radial-gradient(
                    farthest-side at -33.33% 50%,
                    #0000 52%,
                    #b4befe1a 54% 57%,
                    #0000 59%
                )
                0 calc(120px / 2),
            radial-gradient(
                    farthest-side at 50% 133.33%,
                    #0000 52%,
                    #b4befe2c 54% 57%,
                    #0000 59%
                )
                calc(120px / 2) 0,
            radial-gradient(
                farthest-side at 133.33% 50%,
                #0000 52%,
                #b4befe1a 54% 57%,
                #0000 59%
            ),
            radial-gradient(
                farthest-side at 50% -33.33%,
                #0000 52%,
                #b4befe2c 54% 57%,
                #0000 59%
            ),
            #1e1e2e;
        background-size:
            60px 120px,
            120px 60px;
    }
    body {
        color: #cdd6f4;
    }
    code {
        font-family:
            Menlo,
            Monaco,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }
</style>
